body{
    margin: 0;
  }
  .dfjcac{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.dc{
  display: flex;
flex-direction: column;
  align-items: center;
}
  .jcsb{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  #atxt{
    /* margin-left: 12vw; */
    font-family: 'poppins', sans-serif;
    position: relative;
    font-size: 5vh;
    -webkit-text-stroke: 0.5vw #383d52;
    text-transform: uppercase;
  }
  #atxt::before{
    font-family:Arial, Helvetica, sans-serif;
   content: attr(data-text);
   position:absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   color: rgb(6, 214, 44);
   -webkit-text-stroke: 0.2vw rgb(196, 30, 188);
   border-right: 2px solid rgb(196, 30, 188);
   overflow: hidden;
   animation: animate 6s linear infinite;
  }
  @keyframes animate {
    0%,100%{
      width: 0%;
    }
    70%,90%{
      width: 100%;
    }
  }
  /* body Header */
  #body-header{
    height: 65vh;
    background-size: cover;
    background-image: url('/static/image/backgroundImage.jpeg');
   opacity: 0.8;
    background-position: bottom;
  }
  
  /* Horizontal list */
  .horizental-list{
    list-style: none;
    padding-left: 0;
    margin:0;
    font-size:30px;
   
  }
  .horizental-list li{
    display: inline-block;
    margin: 0px 28px 28px 0px;
    font-weight: 100;
    font-size: 0.9rem;
  }
  .horizental-list li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
  }
  #name-social-container {
    margin-top: 10vh !important;
  }
  .nav-menu li a{
    transition:color 0.5s, border-bottom 1s;
  }
  .nav-menu li a:hover{
    color: rgb(2, 223, 212);
    border-bottom: 2px solid black;
  }
  .text-centre{
    text-align: center;
  }
  
  /* name and social icons */
  #my-name{
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    /* margin-bottom: 0.5rem; */
    color: white;
    transition: 1s ;
  } 
  #my-name:hover{
    animation: Shake 0.5s linear infinite;
  }
  @keyframes Shake{
    0%{transform: rotate(5deg);}
    25%{transform: rotate(-6deg);}
    50%{transform: rotate(5deg);}
    75%{transform: rotate(-6deg);}
    100%{transform: rotate(5deg);}
  }
  
  #name-social-container{
    margin-top: 4vh !important;
  }
  /* Social icons */
  .social-icons li a i{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 50%;
  }
  
  .social-icons li a i:hover{
    box-shadow:0px 0px 8px 4px rgb(248, 247, 247);
  }
  #about{
    background-image: url("/static/image/bg1.png");
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
    
    height:auto ;
    width: 100%;
    position: relative;
    font-size:1.3vw;
  }
  .dfac{
    display: flex;
    align-items: center;
  }
  #my-image{
  height: 12rem;
  width: 12rem;
  margin: auto;
  }
  #my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
   margin-top: -16vh; 
   border: 3px solid rgb(222, 7, 168);
   transition: 1s;
  }
  #my-image img:hover{
    box-shadow: 0px 0px 18px 5px blueviolet;
   transform: rotateY(180deg);
  
  }
  
  /* Section area */
  section{
    /* height: 75vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section:nth-child(2n+1){
    background-color: white;
  }
  
  #about{
    height: auto;
    width: 100%;
    position: relative;
  }
  /* Heading arrangement */
  .section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
  }
  .section-heading span{
    font-size: 40px;
    color:#2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right:0.5rem;
  }
  .mb75px{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* skill section */
  #skill{
    background-image: url(/static/image/skill.jpg);
    background-size: contain;
    /* background-repeat: no-repeat; */
  }
  .skill-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 0.8rem;
    margin-bottom: 50px;
    box-shadow: 0px 0px 2px 2px gray;
  }
  .skill-progress>div{
    border-radius: 20px 0px 0px 20px;
  }
  .mb-blue{
    background-color: blue;
  }
  .eighty-five{
    width: 85%;
    height: inherit;
  }
  .skill-name span{
    color: white;
    margin-left: 10px;
    font-size: 1.2rem;
   
  }
  .skill-name{
    margin-bottom: 2px;
  }
  .forty{
  width: 60%;
  height: inherit;
  }
  .mb-red{
  background-color: rgb(244, 96, 4);
  }
  .eighty{
    width: 80%;
    height: inherit;
    }
    .mb-grey{
    background-color: rgb(151, 124, 124);
    }
  
  .ninty{
        width: 90%;
        height: inherit;
        }
        .mb-green{
        background-color: rgb(77, 251, 3);
        }
  
        /* Timeline section */
  
  .timeline{
    background-image: url(/static/image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 1vw;
        }
  .project{
    border: 1px solid black;
 
}
 .ph{
  color: rgb(245, 0, 200);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
 }
 .pc{
  color: rgb(0, 136, 255);
  border: 1px solid black;
  padding: 5px 2vw;
  border-radius: 10px;
 }
 /* education */
 .education{
  background-image: url(/static/image/edu.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
 }
 .ed-h{
  font-weight: bold;
  color: rgb(241, 98, 15);
 }
 .degree{
  border: 1px solid black;
  width: 20vw;
  padding: 1vw;
  margin: 0.3vw;
 }
.con{
  background-image: url(/static/image/contact.png);
  background-size: contain;
 background-repeat: no-repeat;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.con-div{
  width: 40vw;
  /* border: 1px solid black; */
  /* background-color: rgba(240, 228, 211, 0.361); */
  padding: 2vw;
  color: rgb(10, 18, 228);
}
  .si:hover{
    border-radius: 50%;
    padding: 2px;
     box-shadow: -0px -0px 5px 5px white;
  }
  @media screen and (max-width:760px){
   .timeline{
    flex-direction: column;
   }
   .project{
    margin: 10px;
    width: 80%;
   }
   .education{
    flex-direction: column;
    align-items:center ;
   }
  
   .degree{
    width: 60%;
   }
   #name-social-container {
    margin-top: -4vh !important;
  }
  .container-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0 !important
  }  
  }
